@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/MasterLayout.cshtml";
}

@model DAL.Models.RegisterModel

<h2>ResetPassword</h2>
@if (Model != null)
{
    using (@Html.BeginForm("ResetPassword", "User", FormMethod.Post, new { @id = "formResetPassword" }))
    {
    @Html.ValidationSummary(true)
    <div>
        <ol>
            <li>
                @Html.HiddenFor(model => model.UserId, new { @id = "hduid" })
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.Password, new { @id = "txtPassword" })
                    @Html.ValidationMessageFor(model => model.Password)

                </div>
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.ConfirmPassword)
                </div>
                <div class="editor-field">
                    @Html.PasswordFor(model => model.ConfirmPassword, new { @id = "txtConfirmPassword" })
                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                </div>
            </li>
            <li>
                <input type="submit" value="Submit" />
            </li>
        </ol>
    </div>
    }
}