@model DAL.Models.ChangePassword



<style>
    .ui-dialog .editor-label, .ui-dialog .editor-field
    {
        display: block;
    }

    .ui-dialog .editor-label
    {
        width: auto;
    }
</style>


@if (Model != null)
{
    using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @id = "form_Change_Password" }))
    {
 
    @Html.ValidationSummary(true)

    <fieldset>
        <div class="editor-field">
            @Html.HiddenFor(model => model.EmailId)

        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CurrentPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CurrentPassword)
            @Html.ValidationMessageFor(model => model.CurrentPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.NewPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.NewPassword)
            @Html.ValidationMessageFor(model => model.NewPassword)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ConfirmPassword)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ConfirmPassword)
            @Html.ValidationMessageFor(model => model.ConfirmPassword)
        </div>

        <p>
            <input type="button" value="Save" class="ui-button ui-widget ui-state-default ui-corner-all" onclick="SaveChangePassword();" />
        </p>
    </fieldset>
    }
}


<script type="text/javascript">

</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Commonscript")
}
