@* This Partial View is used to View or Create the Sub-Topics of respected select Topics & Speciality.. Created By-------RaviK----------  *@

@model DAL.Models.SubTopics
@if (Model != null)
{
    using (@Html.BeginForm("InsertSubTopic", "Admin", FormMethod.Post, new { @id = "form_CreateSubtopics" }))
    { 
        
    @Html.ValidationSummary(true)

        if (Model.SubTopicID == 0)
        {
            
    <div>
        <ol>
            <li>
                @Html.HiddenFor(model => model.SubTopicID, new { @id = "txt_SubTopicID" })
                @Html.HiddenFor(model => model.TopicID)
                @Html.HiddenFor(model => model.SpecialityID)
            </li>
            <li>
                <div class="editor-label" style="width:auto !important;">
                    @Html.Label("Specialty : ") @Html.DisplayFor(model => model.SpecialityName)
                </div>
            </li>
            <li>
                <div class="editor-label" style="width:auto !important;">
                    @Html.Label("Topic name: ") @Html.DisplayFor(model => model.TopicName)
                </div>
            </li>
        </ol>
    </div>
    
        }
    <div>
        <ol>
            <li>
                @Html.HiddenFor(model => model.SubTopicID, new { @id = "txt_SubTopicID" })
                @Html.HiddenFor(model => model.TopicID)
            </li>
            <li>
                <div class="editor-label">
                    @Html.LabelFor(model => model.SubTopicname)
                </div>
                <div class="editor-field">
                    @Html.TextBoxFor(model => model.SubTopicname, new { @id = "txt_SubTopicname", @style = "width:250px" })
                    @Html.ValidationMessageFor(model => model.SubTopicname)
                </div>
            </li>
        </ol>
    </div>
        
    <div class="ui-dialog-buttonpane ui-widget-content ui-helper-clearfix">
        <div class="ui-dialog-buttonset">
            <input id="btn_Save_topics" type="submit" value="Save" role="button" aria-disabled="false" />
        </div>
    </div>
@* 
    <script type="text/javascript">

        $('#ddl_Specialities').change(function () {
            debugger;
            var sid = $(this).val();
            $.ajax({
                url: '../Admin/GetTopicsBySpecID?id=' + sid + '',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                type: "GET",
                error: function () {
                    alert("An error occurred.");
                },
                success: function (data) {
                    var items = "";

                    if (data != null) {
                        $.each(data, function (i, item) {
                            items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                        });
                        $("#ddl_Topics").html(items);
                    }
                    else { $("#msg").html("No Topics for this Speciality..") }
                }
            });
        });


        var Cancel = function Cancel() {
            $('#Editions_Thread_dialog').dialog('close');
        }

        $("#btnSave_Threads").button().click(function () {

            if ($('#form_Edit_Threads').valid()) {
                if ($('#form_Edit_Threads').valid()) {

                    if ($('#form_Edit_Threads').valid()) {
                        var $form = $('#form_Edit_Threads');
                        var url = $form.attr('action');
                        var newfield = Getdata();
                        var val = JSON.stringify(newfield);
                        var RequestType = $form.attr('method');
                        $.ajax({
                            type: RequestType,
                            url: url,
                            data: val,
                            async: false,
                            contentType: "application/json; charset=utf-8",
                            dataType: "json",
                            success: function (res) {
                                if (res == true) {
                                    var dail = $("#form_Edit_Threads").parents('div[class^="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable"]')[0];
                                    var dailogid = $(dail).attr('aria-describedby');
                                    $('#' + dailogid).dialog('close');
                                    alert("New Editorial Threads Created Successfully");

                                } else {
                                    alert("Error in saving Field");
                                }
                            }
                        }).done(function () { })
                        .fail(function (E) { alert(E.msg); }).
                        always(function () { });
                    }
                }
            }
        });

        var Getdata = function Getdata() {
            var SubTopicForm = {
                SpecialityID: $('#ddl_Specialities').val(),
                TopicID: $("#ddl_Topics").val(),
                SubTopicname: $("#hdThreadId").val()
            };
            return SubTopicForm;
        }

    </script>*@
    

    }
}




