@model DAL.Models.EditorsChoicemodel
@{
    ViewBag.Title = "EditorsChoice";
}

<div style="width: 1170px; margin: 0 auto">
    <table width="650" cellpadding="8" cellspacing="0" border="0" align="Center">
        <tr>
            <td align="right">
                @Html.ActionLink("Back", "EditorsChoice", "User", new { id = Model.SpecialtyID }, null)
            </td>
        </tr>

        <tr>
            <td align="center" width="500">
                <table border="0" cellpadding="4" cellspacing="0" width="100%" style="BACKGROUND-COLOR: whitesmoke">

                    <tr id="LinkOutHeading">
                        <td colspan="3">
                            <table cellpadding="0" cellspacing="0" width="100%">
                                <tbody>
                                    <tr>
                                        <td width=" " valign="middle"><a href="http://www.ncbi.nlm.nih.gov/entrez/linkout/" title="About the LinkOut service" target="_blank">About LinkOut</a></td>
                                        <td style="text-align: center;">Full-text LinkOut Information for PMID @Model.PMID</td>
                                        <td width=" " align="right" valign="middle"><a href="http://www.ncbi.nlm.nih.gov/About/disclaimer.html" title="Disclaimer and Copyright Notice" target="_blank">NCBI Disclaimer</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>

                    </tr>

                    <tr>
                        <td width="24">&nbsp;</td>
                        <td width="57" align="right" valign="top"><strong>PMID</strong></td>
                        <td width="389" valign="top">@Model.PMID PubMed - indexed for MEDLINE</td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td valign="top" align="right"><strong>Title</strong></td>
                        <td valign="top">@Model.ArticleTitle</td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td valign="top" align="right"><strong>Author</strong></td>
                        <td>

                            @if (Model.AuthorFullList != "")
                            {
                                @Html.Raw(Model.AuthorFullList)<br />
                            }
                            else
                            {
                                @Html.Raw(Model.AuthorList) <br />
                            }
                        </td>
                    </tr>

                    <tr>
                        <td>&nbsp;</td>
                        <td valign="top" align="right"><strong>Source</strong></td>
                        @if (Model.ArticleTitle != null && Model.AbstractText != null)
                        {
                            <td valign="top">@Model.MedlineTA &nbsp;@Model.DisplayDate,@Model.MedlinePgn</td>
                        }
                        else
                        {
                            <td valign="top">PMID:@Model.PMID </td>
                        }
                    </tr>

                    <tr>
                        <td class="LinkOutLibraries" colspan="3">

                            @*@if ((Model.Libraries != null && Model.Aggregator != null && Model.ProviderPublis != null))
                        {
                            *@

                            <table>

                                <tbody>
                                    @if (Model.ProviderPublis != null)
                                    {
                                        if (Model.ProviderPublis.Count > 0)
                                        {
                                        
                                        <tr>
                                            <td colspan="2">
                                                <h3>Publishers</h3>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="10px">&nbsp;</td>

                                            <td>
                                                @foreach (var ProvLinks in Model.ProviderPublis)
                                                {
                                                    <a target="_blank" href=@ProvLinks.URLS>@ProvLinks.ProviderName</a>
                                                    <br>
                                                    <a></a>
                                                    <label>Provided by:</label> <a target="_blank" href=@ProvLinks.URLS>@ProvLinks.ProviderName</a><br>
                                           
                                                    <ul>

                                                        <li>full-text online 
                                                        </li>
                                                        <li>publisher of information in url 
                                                        </li>
                                                        <li>subscription/membership/fee required 
                                                        </li>
                                                    </ul>
                                            
                                                }
                                            </td>
                                        </tr>

                                        }
                                    }

                                    <tr>
                                        <td colspan="2">
                                            <h3>Libraries</h3>
                                        </td>
                                    </tr>

                                    <tr>
                                        <td width="650px" colspan="2">
                                            @foreach (var item in Model.linklist)
                                            {
                                                <p nowrap><a target="_blank" href="@item.URLS">@item.ProviderName </a></p>
                                            }

                                        </td>
                                        <td></td>
                                    </tr>

                                    @if (Model.Aggregator != null)
                                    {
                                        if (Model.Aggregator.Count > 0)
                                        {
                                        
                                        <tr>
                                            <td colspan="2">
                                                <h3>Aggregators</h3>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td width="10px">&nbsp;</td>

                                            <td>
                                                @foreach (var aggreg in Model.Aggregator)
                                                {
                                                    <a target="_blank" href=@aggreg.URLS>@aggreg.ProviderName</a>
                                                    <br>
                                                    <a></a>
                                                    <label>Provided by:</label> <a target="_blank" href=@aggreg.URLS>@aggreg.ProviderName</a><br>
                                           
                                                    <ul>
                                                        <li>full-text online 
                                                        </li>
                                                        <li>subscription/membership/fee required 
                                                        </li>
                                                    </ul>
                                            
                                                }
                                            </td>
                                        </tr>

                                        }
                                    }
                                </tbody>

                            </table>

                            @*
                        }

                        else
                        {
                            <table>
                                <tbody>
                                    <tr>
                                        <td>
                                            <label>We're sorry, the <a href="http://www.ncbi.nlm.nih.gov/entrez/linkout/" target="_blank">LinkOut Server</a> is busy.</label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }*@

                        </td>

                    </tr>

                </table>
            </td>
        </tr>

    </table>
</div>

